<p id="notice"><%= notice %></p>

<%= link_to 'Keep Shopping', products_path, class: "button is-success" %>

<%= render(@cart.items) %>

<%= button_to 'Empty Cart', @cart, method: :delete, data: {confirm: "Are you sure?"}, class: "button is-danger" %>


<%= link_to 'Edit', edit_cart_path(@cart) %> |
<%= link_to 'Back', carts_path %>

<%= number_to_currency(@cart.total_price) %>
