<p id="notice"><%= notice %></p>

<main>
  <% @products.each do |product| %>
  <div class="container-fluid bg-transparent my-4 p-3" style="position: relative;">
    <div class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-4 g-3">
      <div class="col">
        <div class="card h-100 shadow-sm">
          <%#= image_tag (@product.image.url(:default)) %>
          <%= link_to image_tag(product.image_url(:thumb)), product %>
          <!-- <img src="https://www.freepnglogos.com/uploads/notebook-png/download-laptop-notebook-png-image-png-image-pngimg-2.png" class="card-img-top" alt="..."> -->
          <div class="card-body">
            <div class="clearfix mb-3"> <span class="float-start badge rounded-pill bg-primary"> 
              <%= product.name %>  
            </span> <span class="float-end price-hp">
          <p class="f3 fw6 has-text-left pt2 price"><%= number_to_currency(product.price) %></p>
          <%= product.brand %> 
            </span> 
          </div>
          <h5 class="card-title">
            <%= product.description %>
          </h5>
          <div class="text-center my-4"> 
            <%= link_to 'Show', product, class: "button btn-warning is-small" %>  
          </div>
        <% if product_author(product) %>
          <div class="text-center my-4"> 
            <%= link_to 'Edit', edit_product_path(product), class: "button btn-warning is-small" %> 
            <%= link_to 'Destroy', product, method: :delete, class: "button btn-danger is-small", data: { confirm: 'Are you sure?' } %>
          </div>
        </div>
        <% end %>

        </div>
      </div>
    </div>
  </div>
  <% end %>
</main>

<%= link_to 'New Product', new_product_path, class: "btn btn-success" %>